{{/* Display author list. */}}

{{- $taxonomy := "authors" }}
{{ if .Params.authors }}
  {{ range $index, $value := .Params.authors }}
    {{- /* Highlight the author's name? */ -}}
    {{- $highlight_name := false -}}

    {{- if gt $index 0 }}, {{ end -}}
    <span {{ if $highlight_name }}class="font-bold"{{end}}>
      {{ $value }}
    </span>
    {{- if isset $.Params "author_notes" -}}
      {{- with (index $.Params.author_notes $index) -}}
        <i class="author-notes fas fa-info-circle" data-toggle="tooltip" title="{{.}}"></i>
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
